{% extends "layout.html" %}

{% load static %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "courses/css/style.css" %}">
{% endblock  %}

{% block page_title %}
Courses
{% endblock page_title %}


{% block content %}
<div class="container mt-3"> <!--mt: margin-top[0:6]-->
    <div class="row"> <!--max 12 columns-->
        <div class="col-3">

            {% include "courses/includes/_categories.html" %} <!-- _categories.html can access the data that is sent here. the same can be written here as well-->
            
        </div>
        <div class="col-9">

            {% for course in courses %} <!--the for loop could also be added to the _courseCards.html-->

                {% if course.isActive == True %}
                    {% include "courses/includes/_courseCards.html" %}
                {% endif %}
               

            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}