{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'courses/img/'|add:course.imageUrl %}" alt="{{course.title}}" class="img-fluid rounded-start" style="height: 150px; object-fit: contain;">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "course_details" course.id %}">
                        {{course.title}}
                    </a>
                </h5>
                <p class="card-text">{{course.description}}</p>
                <p>{{course.date|date:"SHORT_DATE_FORMAT"}}</p>
            </div>
        </div>
    </div>
</div>
