 <!--navbar-->
 <nav class="navbar navbar-expand-lg bg-primary navbar-dark"> <!--bg: background, navbar: to have navbar, navbar-dark: to have black text -->
    <div class="container"> <!--to have the text in the middle of the navbar -->
        <a href="/" class="navbar-brand">Course App</a> <!--to go to home page-->
        <ul class="navbar-nav me-auto"> <!--me-auto: to indent left, flexbox classes -->
            <li class="nav-item">
                <a href="/courses" class="nav-link">Courses</a>
            </li>
            <li class="nav-item">
                <a href="/about-us" class="nav-link">About Us</a> <!--url extension to href not the method or html name-->
            </li>
            <li class="nav-item">
                <a href="/contact-us" class="nav-link">Contact Us</a>
            </li>

        </ul>
    </div>

</nav>